* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}

#search-btn {
  background-color: rgb(69, 111, 232);
  border: none;
  border-radius: 3px;
  color: white;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  height: 40px;
  padding: 0 20px;
  
}

.navbar-nav {
  padding: 10px;  
  align-items: center;
  gap: 20px;
}

.navbar-nav a {
  color: rgb(69, 111, 232);
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
}

.container {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.items {
  display: flex;
  flex-basis: 70%;
  flex-wrap: wrap;
  justify-content: center;
}

.item {
  border: 2px solid rgb(47, 144, 234);
  border-radius: 5px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: auto;
  margin: 5px;
  width: 200px;
}

.item .item__sku {
  display: none;
}

.item .item__title {
  flex-grow: 1;
  padding: 10px;
  text-align: center;
}

.item .item__image {
  width: 100%;
}

.item__price {
  font-size: 16px;
  font-weight: bold;
  padding: 5px;
  text-align: center;
}

.item .item__add {
  background-color: rgb(69, 111, 232);
  color: white;
  border: 0;
  cursor: pointer;
  margin: 0;
  padding: 5px;
}

.cart {
  display: flex;
  flex-basis: 30%;
  flex-flow: column wrap;
  align-items: center;
  padding: 0.5rem;
  gap: 0.5rem;
}

.cart .cart__item {
  border: 2px solid rgb(46, 143, 234);
  border-radius: 5px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: auto;
  margin: 5px;
}

.cart__items {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  padding: 0.5rem;
}

.cart .cart__title {
  flex-basis: 1;
  font-size: 16pt;
  text-align: center;
}
